//
//  Debug.xcconfig
//  DemoAppiOS
//
//  Created by AppLink on 02.05.19.
//  Copyright © 2019 AppLink. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


#include "Pods/Target Support Files/Pods-DemoAppiOS/Pods-DemoAppiOS.debug.xcconfig"


APP_ID = 1234567890
APP_NAME = SDLDemoApp
APP_SHORTNAME = SDLApp
APP_ICON = SDLImage


USE_TCP = true
TCP_PORT = 127.0.0.1
TCP_IP = 12345

